@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');
h1{
  font-family: 'Lobster Two', cursive;
  font-family: 'Oswald', sans-serif;
  font-family: 'Pontano Sans', sans-serif;
}
