@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');
.cursiva{
  font-family: 'Lobster Two', cursive;
}
.subtitulo{
  font-family: 'Oswald', sans-serif;
}
.menu li{
  font-family: 'Oswald', sans-serif;
}
.textos{
  font-family: 'Pontano Sans', sans-serif;
}
